

// Light green: #7ed56f #3282b8
// Medium green: #55c57a #005086
// Dark green: #28b485 #16213E



$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;


$color-primary:#005086;
$color-primary-light:#3282b8;
$color-primary-dark:#16213E;
$color-gray-dark:#777;
$color-gray-dark-2:#999;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;
$color-gray-light-2:#eee;
$default-font-size:1.6rem;
//grid-test
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;
