.section-about {
background-color: $color-grey-light-1;
padding: 25rem 0;
margin-top: -20vh;

// @include respond(tab-port){
//
//   padding: 20rem 0 ;
// }

}

.section-features{
  padding: 20rem 0;
  background-image:
   // linear-gradient(to right bottom,
   // rgba($color-primary-light, 0.5),
   // rgba($color-primary-dark, 0.5)),
    url(../img/3.gif);
  background-size: 50%;
  transform: skewY(-7deg); // przechyla ekran



  @include respond(tab-port){


  background-size:150%;
    padding: 15rem 0 ;
  }


  &>*{

    // transform: skewY(7deg);
  }   //&> to zaznacza "direct child of serction-features" a gwiazdka mowi zeby "zaznaczyc wszystkie dirct childy section-features"

  margin-top: (-15rem);

}

.section-tours {
margin-top: -11rem;
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;

  @include respond(tab-port){

    padding: 20rem 0 10rem 0;
  }

}
.section-stories{
  position: relative;
padding: 15rem 0;

@include respond(tab-port){

  padding: 10rem 0 ;
}

}

.section-book{
padding: 15rem 0;
background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

// @include respond(tab-port){
//
//   padding: 10rem 0 ;
// }

}


.book {
background-image: linear-gradient(105deg,
 rgba(19, 18, 18, .5) 0%,
 rgba(68, 86, 125, .5) 50%,
  transparent 50%),url(../img/6.jpg);
background-size: cover;  //cover znaczy dokladnie to samo co 100%

border-radius: .3rem;
box-shadow: 0 1.5rem 4rem rgba($color-black, .95);


@include respond(tab-land)
{

  background-image: linear-gradient(105deg,
   rgba(19, 18, 18, .5) 0%,
   rgba(68, 86, 125, .5) 65%,
    transparent 65%),url(../img/6.jpg);
    background-size: cover;
}


@include respond(tab-port){
  background-image: linear-gradient(to right,
   rgba(19, 18, 18, .5) 0%,
   rgba(68, 86, 125, .5) 100%),
  url(../img/6.jpg);

width: 126%;

}


@include respond(phone){
  background-image: linear-gradient(to right,
   rgba(19, 18, 18, .5) 0%,
   rgba(68, 86, 125, .5) 100%),
  url(../img/6.jpg);

width: 85%;

}

&__form {
width:50%;
padding:6rem;

// @include respond(tab-land)
// {
//
//   width: 70%;
// }

@include respond(tab-land)
{

  width: 100%;
}



}

}
